*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("img/bg.jpg");
    background-size: cover;
    font-family: 'Glegoo', serif;
    color: black;
    
}

.wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-box{
    padding: 20px;
    height: 270px;
    width: 300px;
    background-color: #FFFDE4;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px #000000;
}

h1{
    margin-bottom: 10px;
}
#rekening > li, #totaal{
    display: flex;
    justify-content: space-between;
    color:black;
    font-weight: bold;
    font-family: 'Glegoo', serif;
}

.headerSpans{
    display: flex;
    justify-content: space-between;
}